<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<code>A faire exo dans le ficheir todo.txt</code>


<div data-controller="hello">
  <input data-hello-target="name" type="text">
  <button data-action="click->hello#greet">greet</button>
  <div data-hello-target="result"></div>
</div>